
<div id="page-wrapper">
        <div class="container-fluid">
            <div class="col-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-12">
                            <h1 class="page-header" style="position:center;text-align: center;">Thông Tin Khách Hàng</h1>
                        </div>
                    </div>

                    <div class="row product-list product-detail">

                        <div class="col-12 col-lg-6 product-detail-slider">
                            <div class="wrapper">
                                <div class="Gallery swiper-container img-magnifier-container" id="gallery">
                                    <div class="swiper-slide"> <a href="book-shop/img/author2.jpg" data-fancybox="2" title="Zoom In"><img class="myimage" src="book-shop/img/author2.jpg" alt="thumnails"></a></div>     
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 text-center text-lg-left">
                            <div class="dropdown-divider"></div>
                            <div class="product-tags-list">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><span class="d-inline">ID Khách Hàng: {{customer.id}}
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 text-center text-lg-left">
                            <div class="dropdown-divider"></div>
                            <div class="product-tags-list">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><span class="d-inline">Tên Khách Hàng: {{customer.name}}
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 text-center text-lg-left">
                            <div class="dropdown-divider"></div>
                            <div class="product-tags-list">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><span class="d-inline">Tuổi: {{customer.age}}
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 text-center text-lg-left">
                            <div class="dropdown-divider"></div>
                            <div class="product-tags-list">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><span class="d-inline">Email: {{customer.email}}
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 text-center text-lg-left">
                            <div class="dropdown-divider"></div>
                            <div class="product-tags-list">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><span class="d-inline">SĐT: {{customer.phone}}
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 text-center text-lg-left">
                            <div class="dropdown-divider"></div>
                            <div class="product-tags-list">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <button type="button" class="btn btn-primary btn-lg btn-block">Khóa tài khoản</button>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--END LATEST ARRIVALS-->

</div>